/*Show Hide Thingy */

.wpsm-show a,
.wpsm-show:active,
.wpsm-show:visited {
    cursor: pointer;
    text-decoration: none;
}

.wpsm-show:hover {
    cursor: pointer;
    text-decoration: underline;
}

.wpsm-content{
display: inline;}